/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_self
 */
@import "bootstrap";


.message {background-color: #c0ebf7;}

.list-group {
    margin: auto;
  width: 50%;
  padding: 10px;
}

#message_name  {
    font-size: 2.25em;
}

#message_wrapper {
    border-style: solid;
    border-width: medium;
    border-color: lightblue;
    border-radius: 5px;
}

.centered{
  margin: auto;
  width: 20%;
  padding: 10px;
}

.jumbotron {
  height: 10%;
}

#message_top {
    text-align: center;
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
}

.all {
  font-family: 'Underdog', cursive;
   margin-top: 5rem;
   margin-bottom: 5rem;
   margin-left: 5rem;
   margin-right: 5rem;
   color: orange;
   font-weight: bold;
}

.text-link{
  font-family: 'Underdog', cursive;
  color: orange;
  font-weight: bold;
}
.text-link{
  font-family: 'Underdog', cursive;
  color: pink;
  font-weight: bold;
}
.button {
  text-align: center;
  color: white ;
  font-size: 1rem;
  background: brown;

}

.center-text {
  text-align: center;
  font-family: 'Underdog', cursive;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  color: white;
}
.profile {
  text-align: right;
  margin-right: 1rem;
  margin-top: .05rem;
  color: red;
  // max-width: 10%;
  // border: solid;
  // border-color: red;
}

.body{
  background-image: url("https://www.oakville.ca/images/1140-park-albion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-fluid {
  max-width: 100%;
  height: auto;
   width: 100% \9;
}

.card {
  max-width: 100%;
  max-height: auto;
   width: 100% \9;
   background-color: #e8f6f9 ;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  border: solid;
  border-color: yellow;
}
.row{
  align-content: flex-start;
  border: solid;
  border-color: red;
}

.col {
  border: solid;
  border-color: green;
}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  object-fit: scale-down;
  border: solid;
  border-color: red;
}

.logo {
  text-align: center;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: .05rem;
  color: red;
  // max-width: 10%;
  // border: solid;
  // border-color: red;
}

#sniffing-out{
  display: inline-block;
  text-align: center;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  object-fit: cover;
}
